<?xml version='1.0' encoding='utf-8'?>
<robot name="Wheel_leg_V1">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.005 0.0003 -0.053" rpy="0 -0 1.57079632679" />
      <mass value="10.8" />
      <inertia ixx="0.126" ixy="0.000264" ixz="-0.00049" iyy="0.178" iyz="0.004123" izz="0.255" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 1.57079632679" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 1.57079632679" />
      <geometry>
        <mesh filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="L_link1">
    <inertial>
      <origin xyz="0.062 -0.006 -0.003" rpy="0 0 0" />
      <mass value="0.326" />
      <inertia ixx="0.000518" ixy="0.00073" ixz="-8.1E-05" iyy="0.003183" iyz="-1.8E-05" izz="0.003674" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint1" type="continuous">
    <origin xyz="0 0.183798094346 -0.000836967642744" rpy="1.57535002938 -0 -3.14159265359" />
    <parent link="base_link" />
    <child link="L_link1" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="40" velocity="17" />
  </joint>
  <link name="L_link2">
    <inertial>
      <origin xyz="0.15963 8.3413E-05 0.011927" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia ixx="0.000167" ixy="8.4E-05" ixz="0.000191" iyy="0.0049" iyz="0" izz="0.00496" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint2" type="continuous">
    <origin xyz="0.21 0 0" rpy="0 0 -2.404" />
    <parent link="L_link1" />
    <child link="L_link2" />
    <axis xyz="-0 -0 -1" />
    <limit lower="-3.14" upper="3.14" effort="40" velocity="17" />
  </joint>
  <link name="L_link3">
    <inertial>
      <origin xyz="0 0 0.020472" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.000296" ixy="0" ixz="0" iyy="0.000296" iyz="0" izz="0.000575" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/L_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint3" type="continuous">
    <origin xyz="0.25 0 0.015" rpy="0 0 -1.5708" />
    <parent link="L_link2" />
    <child link="L_link3" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="5" velocity="60" />
  </joint>
  <link name="R_link1">
    <inertial>
      <origin xyz="0.062 -0.006 0.003" rpy="0 0 0" />
      <mass value="0.326" />
      <inertia ixx="0.000518" ixy="0.00073" ixz="8.1E-05" iyy="0.003183" iyz="1.8E-05" izz="0.003674" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint1" type="continuous">
    <origin xyz="0 -0.182798104714 0.000832413955891" rpy="1.57535002938 -0 -3.14159265359" />
    <parent link="base_link" />
    <child link="R_link1" />
    <axis xyz="-0 -0 -1" />
    <limit lower="-3.14" upper="3.14" effort="40" velocity="17" />
  </joint>
  <link name="R_link2">
    <inertial>
      <origin xyz="0.15963 8.3412E-05 -0.011927" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia ixx="0.000167" ixy="8.4E-05" ixz="-0.000192" iyy="0.0049" iyz="0" izz="0.00496" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint2" type="continuous">
    <origin xyz="0.21 0 0" rpy="0 0 -2.3573" />
    <parent link="R_link1" />
    <child link="R_link2" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="40" velocity="17" />
  </joint>
  <link name="R_link3">
    <inertial>
      <origin xyz="0 0 -0.020472" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.000296" ixy="0" ixz="0" iyy="0.000296" iyz="0" izz="0.000575" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/R_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint3" type="continuous">
    <origin xyz="0.249999999999996 0 -0.0150000000000006" rpy="0 0 3.14159265358979" />
    <parent link="R_link2" />
    <child link="R_link3" />
    <axis xyz="-0 -0 1" />
    <limit lower="-3.14" upper="3.14" effort="5" velocity="60" />
  </joint>
</robot>