<?xml version='1.0' encoding='utf-8'?>
<robot name="own_v40">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0050000000000000001 0.00029999999999999997 -0.052999999999999999" rpy="0 0 1.5707963267948966" />
      <mass value="10.8" />
      <inertia ixx="0.126" ixy="0.000264" ixz="-0.00049" iyy="0.178" iyz="0.004123" izz="0.255" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision name="base_link_part_000">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_000.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_001">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_001.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_002">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_002.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_003">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_003.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_004">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_004.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_005">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_005.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_006">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_006.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_007">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_007.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_008">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_008.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_009">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_009.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_010">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_010.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_011">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_011.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_012">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_012.obj" />
      </geometry>
    </collision>
    <collision name="base_link_part_013">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <geometry>
        <mesh filename="collisions/base_link_part_013.obj" />
      </geometry>
    </collision>
  </link>
  <link name="L_link1">
    <inertial>
      <origin xyz="0.062 -0.006 -0.003" rpy="0 0 0" />
      <mass value="0.326" />
      <inertia ixx="0.000518" ixy="0.00073" ixz="-8.1E-05" iyy="0.003183" iyz="-1.8E-05" izz="0.003674" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision name="L_link1_part_000">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link1_part_000.obj" />
      </geometry>
    </collision>
    <collision name="L_link1_part_001">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link1_part_001.obj" />
      </geometry>
    </collision>
    <collision name="L_link1_part_002">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link1_part_002.obj" />
      </geometry>
    </collision>
    <collision name="L_link1_part_003">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link1_part_003.obj" />
      </geometry>
    </collision>
    <collision name="L_link1_part_004">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link1_part_004.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint1" type="continuous">
    <origin xyz="0 0.18379809434584801 -0.00083696764274401197" rpy="1.5753500293810501 0 3.1415926535897967" />
    <parent link="base_link" />
    <child link="L_link1" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1" />
  </joint>
  <link name="L_link2">
    <inertial>
      <origin xyz="0.15963 8.3413E-05 0.011927" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia ixx="0.000167" ixy="8.4E-05" ixz="0.000191" iyy="0.0049" iyz="0" izz="0.00496" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision name="L_link2_part_000">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link2_part_000.obj" />
      </geometry>
    </collision>
    <collision name="L_link2_part_001">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link2_part_001.obj" />
      </geometry>
    </collision>
    <collision name="L_link2_part_002">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link2_part_002.obj" />
      </geometry>
    </collision>
    <collision name="L_link2_part_003">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link2_part_003.obj" />
      </geometry>
    </collision>
    <collision name="L_link2_part_004">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/L_link2_part_004.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint2" type="revolute">
    <origin xyz="0.21 0 0" rpy="0 0 -2.404" />
    <parent link="L_link1" />
    <child link="L_link2" />
    <axis xyz="0 0 1" />
    <limit lower="-0.1267274153917777" upper="0.6586707480056704" effort="100" velocity="1" />
  </joint>
  <link name="L_link3">
    <inertial>
      <origin xyz="0 0 0.020472" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.000296" ixy="0" ixz="0" iyy="0.000296" iyz="0" izz="0.000575" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision name="L_link3_cylinder">
      <origin xyz="0 0 0.020350000821053982" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.060000003250648436" length="0.02500000037252903" />
      </geometry>
    </collision>
  </link>
  <joint name="L_joint3" type="continuous">
    <origin xyz="0.25 0 0.015" rpy="0 0 -1.5708" />
    <parent link="L_link2" />
    <child link="L_link3" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1" />
  </joint>
  <link name="R_link1">
    <inertial>
      <origin xyz="0.062 -0.006 0.003" rpy="0 0 0" />
      <mass value="0.326" />
      <inertia ixx="0.000518" ixy="0.00073" ixz="8.1E-05" iyy="0.003183" iyz="1.8E-05" izz="0.003674" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision name="R_link1_part_000">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link1_part_000.obj" />
      </geometry>
    </collision>
    <collision name="R_link1_part_001">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link1_part_001.obj" />
      </geometry>
    </collision>
    <collision name="R_link1_part_002">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link1_part_002.obj" />
      </geometry>
    </collision>
    <collision name="R_link1_part_003">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link1_part_003.obj" />
      </geometry>
    </collision>
    <collision name="R_link1_part_004">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link1_part_004.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint1" type="continuous">
    <origin xyz="0 -0.18279810471393301 0.00083241395589111295" rpy="1.5753500293810501 0 3.1415926535897967" />
    <parent link="base_link" />
    <child link="R_link1" />
    <axis xyz="0 0 1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1" />
  </joint>
  <link name="R_link2">
    <inertial>
      <origin xyz="0.15963 8.3412E-05 -0.011927" rpy="0 0 0" />
      <mass value="0.45" />
      <inertia ixx="0.000167" ixy="8.4E-05" ixz="-0.000192" iyy="0.0049" iyz="0" izz="0.00496" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_link2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision name="R_link2_part_000">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link2_part_000.obj" />
      </geometry>
    </collision>
    <collision name="R_link2_part_001">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link2_part_001.obj" />
      </geometry>
    </collision>
    <collision name="R_link2_part_002">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link2_part_002.obj" />
      </geometry>
    </collision>
    <collision name="R_link2_part_003">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link2_part_003.obj" />
      </geometry>
    </collision>
    <collision name="R_link2_part_004">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="collisions/R_link2_part_004.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="R_jonit2" type="revolute">
    <origin xyz="0.21 0 0" rpy="0 0 -2.3573" />
    <parent link="R_link1" />
    <child link="R_link2" />
    <axis xyz="0 0 -1" />
    <limit lower="-0.6119707480056704" upper="0.1734274153917776" effort="100" velocity="1" />
  </joint>
  <link name="R_link3">
    <inertial>
      <origin xyz="0 0 -0.020472" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="0.000296" ixy="0" ixz="0" iyy="0.000296" iyz="0" izz="0.000575" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_link3.STL" />
      </geometry>
      <material name="">
        <color rgba="0.84314 0.81569 0.75294 1" />
      </material>
    </visual>
    <collision name="R_link3_cylinder">
      <origin xyz="0 0 -0.020350000821053982" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.060000003154563872" length="0.02500000037252903" />
      </geometry>
    </collision>
  </link>
  <joint name="R_joint3" type="continuous">
    <origin xyz="0.249999999999996 0 -0.0150000000000006" rpy="0 0 3.14159265358979" />
    <parent link="R_link2" />
    <child link="R_link3" />
    <axis xyz="0 0 -1" />
    <limit lower="-3.14" upper="3.14" effort="100" velocity="1" />
  </joint>
</robot>